@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}

/* Transitions */

a, .btn {
    transition: all 300ms ease;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}


